@use "sass:math";

$lines-count: 5;
$line-width: math.div(100%, $lines-count);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
}

:focus {
  outline: none;
}

body {
  background: #001133;
  -webkit-tap-highlight-color: transparent;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 80vw;
  height: 70vh;
  position: relative;
  margin: auto;
}

.bg {
  width: 100%;
  height: 100%;
  background: #32407b;
}

.lines div {
  width: $line-width;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  background: transparent;
  animation: anim-effect 1s forwards;
  transition: all ease 0.5s;
}

.lines div:nth-child(odd) {
  height: 0;
  opacity: 1;
  background: cornflowerblue;
}

.lines div:nth-child(even) {
  top: unset;
  bottom: calc(100% - height);
  height: 0;
  opacity: 1;
  background: cornflowerblue;
}

@for $i from 0 to $lines-count + 1 {
  .lines div:nth-child(#{$i}) {
    left: ($i - 1) * $line-width;
    animation-delay: $i + s;
  }
}

@keyframes anim-effect {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}
