@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
}

:focus {
  outline: none;
}

body {
  background-image: linear-gradient(
    68.1deg,
    rgba(61, 114, 180, 1) 5.8%,
    rgba(82, 82, 82, 1) 98.1%
  );
  -webkit-tap-highlight-color: transparent;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.1rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

main div {
  width: 60%;
  color: #fff;
  text-align: justify;
}

main div span {
  line-height: 1.5;
}

main div span ins {
  text-decoration: #fff underline wavy;
}

main div span del {
  text-decoration: line-through;
  text-decoration-color: red;
}
