@use "sass:math";

$columns: 12; // the number of columns in the grid system, let's stick with 12 as Bootstrap does :)

body {
  background: #001133;
  -webkit-tap-highlight-color: transparent;
}

.container {
  display: flex;
  margin: auto;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  background: #04f;
  color: #fff;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: bold;
}

@for $width from 1 through $columns {
  .col-#{$width} {
    flex-basis: math.div($width, $columns) * 100%;
  }
}

// by Igor Dimitrijević (@igorskyflyer)
