@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

:root {
  --tooltip-bg: #fff;
  --tooltip-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:focus {
  outline: none;
}

body {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
  -webkit-tap-highlight-color: transparent;
  font-family: 'Noto Sans', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

main div {
  min-height: 50vh;
  width: 85%;
  color: #000;
  line-height: 2;
  text-align: justify;
  color: #fff;
}

.tooltip {
  position: relative;
  cursor: help;
  font-style: italic;
  font-weight: 800;
  font-size: 1.1rem;
}

.tooltip span {
  visibility: hidden;
  position: absolute;
  margin: 0;
  padding: 8px 20px;
  top: -40px;
  left: 0;
  opacity: 0;
  border-radius: 8px;
  background: var(--tooltip-bg);
  color: var(--tooltip-color);
  cursor: default;
  line-height: 1;
  font-size: 1rem;
  font-style: normal;
  font-weight: 200;
  white-space: nowrap;
  transition: opacity 0.6s ease-out;
}

.tooltip span::after {
  content: '';
  visibility: hidden;
  position: absolute;
  top: 99%;
  left: 40%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--tooltip-bg);
}

.tooltip:hover > span {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover > span::after {
  visibility: visible;
}
